body {
	background-color: #C3D2D7;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	line-height: 1.5;
  font-size: 0.875rem;
	vertical-align: middle;
}

#value {
	font-size: 56pt;
}

.footer {
	text-align:center;
	font-size: 10pt;
	position:absolute;
	bottom:10px;
	background: Gainsboro;
	width:99%;
	height: 5%;
}

img {
	vertical-align: -80%;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

.container {
	margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.btn {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 12px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 16px 4px;
  cursor: pointer;
}

.btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
